# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Environments
.env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.iml

# Mypy cache
.mypy_cache/
.dmypy.json

# Pytest cache
.pytest_cache/

# SQLite databases
*.db
*.sqlite3

# Build
build/
dist/
*.egg-info/
